* {
  outline: none;
  box-sizing: inherit;
  color: #1a1b1c;
  font-weight: 400;
}

html {
  --blue: #17a1ff;
  --gray_dd: #dddddd;
  --base-color: #fff;
  --dark-color: #2a3443;
  --shade-color: #5e6673;
  --success-color: #f0f8f1;
  --warning-color: #fbeeec;
  --light-background: #f4f5f7;
  --spacing: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Noto Sans, Noto Sans KR, sans-serif;
  box-sizing: border-box;
  margin: 0;
  margin: auto;
  position: relative;
  padding: 0;
  min-height: 100vh;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  min-height: 100vh;
  font-size: 0.875rem;
}

[hidden] {
  display: none;
}

a {
  color: var(--dark-color);
}

a:visited,
a:active {
  color: var(--shade-color);
}

nav {
  height: 3em;
}

@font-face {
  font-style: normal;
  font-family: Noto Sans KR;
  font-weight: normal;
  font-display: swap;
  src: url("/public/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("/public/fonts/NotoSansKR-Regular.woff") format("woff");
  /* 한글 */
  unicode-range: U+0020- U+007E, U+1100- U+11F9, U+3000- U+303F, U+3131- U+318E,
    U+327F- U+327F, U+AC00- U+D7A3, U+FF01- U+FF60;
}

@font-face {
  font-style: normal;
  font-family: Noto Sans KR;
  font-weight: bold;
  font-display: swap;
  src: url("/public/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("/public/fonts/NotoSansKR-Bold.woff") format("woff");
  /* 한글 */
  unicode-range: U+0020- U+007E, U+1100- U+11F9, U+3000- U+303F, U+3131- U+318E,
    U+327F- U+327F, U+AC00- U+D7A3, U+FF01- U+FF60;
}

@font-face {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: bold;
  font-display: swap;
  src: url("/public/fonts/NotoSans-Bold.woff2") format("woff2"),
    url("/public/fonts/NotoSans-Bold.woff") format("woff");
  /* 영문,숫자 */
  unicode-range: U+0020- U+002F, U+0030- U+0039, U+003A- U+0040, U+0041- U+005A,
    U+005B- U+0060, U+0061- U+007A, U+007B- U+007E;
}

@font-face {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: normal;
  font-display: swap;
  src: url("/public/fonts/NotoSans-Regular.woff2") format("woff2"),
    url("/public/fonts/NotoSans-Regular.woff") format("woff");
  /* 영문,숫자 */
  unicode-range: U+0020- U+002F, U+0030- U+0039, U+003A- U+0040, U+0041- U+005A,
    U+005B- U+0060, U+0061- U+007A, U+007B- U+007E;
}
